#Rewrite rules by PhanTheMinh
RewriteEngine on
RewriteBase /Public/
RewriteRule ^dashboard/css/(.*)$ /Public/admin/css/$1 [L]
RewriteRule ^page/(.*)$ /content/page/$1 [L]
RewriteRule ^dashboard/js/(.*)$	/Public/admin/js/$1 [L]
RewriteRule ^dashboard/img/(.*)$	/Public/admin/img/$1 [L]
RewriteRule ^img/(.*)$	/Public/admin/img/layout/$1 [L]
RewriteRule ^assets/global/css/(.*)$	/Public/admin/css/$1 [L]
RewriteRule ^dashboard/fonts/(.*)$	/Public/admin/fonts/$1 [L]
RewriteRule ^restapi/([0-9a-zA-Z\_\-\/]*)$ index.php?end=api&page=$1 [QSA]
RewriteRule ^restapi$ index.php?end=api&page= [QSA]
RewriteRule ^san-pham$ index.php?end=front&page=product/list [L]
RewriteRule ^san-pham.html$ index.php?end=front&page=product/list [L]
RewriteRule ^san-pham/yeu-thich.html$ index.php?end=front&page=product/wish_list [L]
RewriteRule ^san-pham/([0-9a-zA-Z\_\-\/]*)$ index.php?end=front&page=product/$1 [L]
RewriteRule ^san-pham/([0-9a-zA-Z\_\-\/]*).html$ index.php?end=front&page=product/$1 [L]
RewriteRule ^gio-hang$ index.php?end=front&page=order/index [L]
RewriteRule ^gio-hang.html$ index.php?end=front&page=order/index [L]
RewriteRule ^gio-hang/checkout$ index.php?end=front&page=order/checkout [L]
RewriteRule ^gio-hang/checkout.html$ index.php?end=front&page=order/checkout [L]
RewriteRule ^lien-he$ index.php?end=front&page=index/contact [L]
RewriteRule ^lien-he.html$ index.php?end=front&page=index/contact [L]
RewriteRule ^bai-viet$ index.php?end=front&page=blog/list/ [L]
RewriteRule ^bai-viet.html$ index.php?end=front&page=blog/list/ [L]
RewriteRule ^bai-viet/([0-9a-zA-Z\_\-\/]*)$ index.php?end=front&page=blog/view/$1 [L]
RewriteRule ^bai-viet/([0-9a-zA-Z\_\-\/]*).html$ index.php?end=front&page=blog/view/$1 [L]
RewriteRule ^admin/([0-9a-zA-Z\_\-\/]*)$ index.php?end=admin&page=$1 [QSA]
RewriteRule ^admin$ index.php?end=admin&page= [QSA]
RewriteRule ^css/(.*)$ app/css/$1 [L]
RewriteRule ^js/(.*)$	app/js/$1 [L]
RewriteRule ^front/img/(.*)$	images/$1 [L]
RewriteRule ^([0-9a-zA-Z\_\-\/]*)$ index.php?end=front&page=$1 [L]
RewriteRule ^([0-9a-zA-Z\_\-\/]*).html$ index.php?end=front&page=$1 [L]


#Compression Deflate